.cards {
	display: flex;
	flex-wrap: wrap;
}

.card {
	padding: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin:10px ;
	flex-basis:250px;
	flex-grow:1;
}
.card:hover{
	border-top: 20px;
	box-shadow: 0px 10px 30px;
	border-radius: 40px;
}

.card img{
	width: 150px;
	border-radius: 6px;
}
.card h3{
	flex-grow: 1;
	padding-left: 30px;
	font-size: 18px;
}
.email{
	color : white;
	font-weight: bold;
}
.email:hover{
	color : black;
	margin-left: 5%;
	font-weight: bold;
}
.office{
	color : white;
	font-weight: bold;
}
.office:hover{
	color : black;
	font-weight: bold;
	margin-right: 5%;
}
.employee {
	color : white;
	font-weight: bold;
}
.employee:hover{
	color : black;
	font-weight: bold;
	justify-content: space-between;
}